$searchHeight: 100px;
$buttonBg: black;
$textColor: white;
$mainBg: #3f3f3f;
$loadingBgOne: #4b4949;
$loadingBgTwo: #575454;
$loadingBgThree: #615e5e;
$buttonHover: rgba(255, 255, 0, 0.459);
$buttonTransform: translateY(2px);
$breakpoint-mobile: 360px;
$breakpoint-tablet: 620px;


* {
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  background: $mainBg;
}

.app {
  
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 18px;

  .search-container {
    margin: 5px;
    .search-form {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: $breakpoint-mobile) {
        flex-direction: row;
        justify-content: center;
      }
      
      .input {
        input {
          padding: 10px;
          border-radius: 20px;
          border: none;
          background: white;
          margin-right: 10px;
          color: black;
          font-size: 1.2em;
          min-width: 200px;
          &:focus {
            outline: none;
          }
        }
      }
      .search-button {
        width: 100px;
        border: 0px;
        font-size: 20px;
        border-radius: 50px;
        padding: 10px 20px;
        margin-top: 5px;
        background: $buttonBg;
        color: $textColor;
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: $buttonHover;
        }
        &:active {
          box-shadow: 0 5px #666;
          transform: $buttonTransform;
        }
      }
    }

    .explanation {
      text-align: center;
      color: $textColor;
    }
  }

  .images-container {
    width: 100%;
    height: calc(100% - #{$searchHeight});
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .giphy-image {
      width: 125px;
      height: 125px;
      margin: 5px;

      &:active {
        //box-shadow: 0 5px #666;
        border: 4px solid pink;
        transform: translateY(2px);
      }

      &:nth-child(4n + 1) {
        background-color: $loadingBgOne;
      }
      &:nth-child(4n + 2) {
        background-color: $loadingBgTwo;
      }
      &:nth-child(4n + 3) {
        background-color: $loadingBgThree;
      }
    }

    .loader {
      width: 90px;
      height: 90px;
      background-color: pink;
      animation: rotate 2s linear infinite;
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .error-message {
    color: $textColor;
  }
}
